@mixin direction{
    display: flex;
    flex-direction: column;
}
@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: $font;
    background: linear-gradient(193deg, $primary -11.44%, $secondary 123.93%);
    color: $fourth;
    border: none;
    font-weight: 500;
    transition: all 500ms;

    &:hover{
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        background:  linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primary -5.2%, $secondary 110.74%);
    }
}
@mixin footerMobile{
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    background-color: $color-footer;
    color: $background;
    gap: 16px;
    
    h3{
        font-family:$font-logo-titre;
        font-size: 18px;
        font-weight: 400;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        gap:7px;
        
        .footer__list__icons a .fa-utensils {
            margin-right: 10px;
        }
        .footer__list__icons1 a .fa-handshake {
            transform: rotate(325deg);
            margin-right: 4px;
        }
    }
}
@mixin footerTablet{
    .footer__list{
        flex-direction: row;
        }
}

@mixin footerDesktop {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 30px 0px;
    height: 114px;

    h3{
        margin: 8px 60px;
    }
    
    .footer__list{
        flex-direction: row;
        margin-top: 19px;

        .footer__list__icons1{
            margin-right: 40px;
        }
        
        .footer__list__others{
            margin-right: 15px;
        }
    }
}

@mixin heart {
    opacity:0;
    color: transparent;
    background-image:linear-gradient(201deg, $primary -5.2%, $secondary 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: opacity 500ms;
    
    &:hover{
        opacity: 1;
    }
}

@mixin fondu{
    animation-name: fonduText;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;

    @keyframes fonduText {
        0% {
            opacity: 0;
        }
        50%{
            opacity: 0;  
        }
        100% {
            opacity: 1;
        }
    }
}


