$font: "roboto","sans-serif";
$font-logo:"Shrikhand";

$background: #F6F6F6;
$color-footer: #000000;

$primary: #9356DC;
$secondary:#FF79DA;
$thirdly:#99E2D0;

$first:#003A68;
$second:#89C8FA;
$third:#008766;
$fourth:#EAEAEA;
$fifth: #7E7E7E;

$size-h1: 24px;