@import'variables';
@import'mixins';


* {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
h3{
    @include title-h3;
}
p{
    @include paragraph;
}
body {
    margin: 0px;
    font-family: $font;
    

    header {
        display: flex;
        gap:42px;
        padding: 14px 89px 14px 17px;
        justify-content: center;

        .header__logo{
            margin-right: auto;
        }
    }

    main{
        .restaurants{
            height:275px;
            width: 100%;
        
            img{
                width: 100%;
                height: 275px;
                object-fit: cover;
            }
        }
        .menu {            
            border-radius: 35px 35px 0 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: -50px;
            padding-left: 17px;
            position: relative;
            background-color: $background;
            gap: 40px;

            .menu__title{
                display: flex;
                align-items: center;
                gap: 50px;
                padding-top: 25px;

                h1 {
                    @include title-h1
                }
            
                .menu__title__heart i {
                    cursor: pointer;                    
                    top: 32px;
                    right: 35px;
                    font-size: 1.5rem;
                }
            }
            .menu__entree {
                
                h2 {
                    @include title-h2;
                }

                .line {
                    @include line;
                }
                .menu__entree__list{
                    @include space;
                    .menu__entree__list__card{
                        @include card;
                        .menu__entree__list__card__text{
                            @include cardText
                        }
                    }
                }
            }
            .menu__meal{

                h2 {
                    @include title-h2;
                }

                .line {
                    @include line;
                }

                .menu__meal__list{
                    @include space;
                .menu__meal__list__card{
                    @include card;
                    .menu__meal__list__card__text{
                        @include cardText;
                    }
                    }
                }
            }
            .menu__dessert{
                h2 {
                    @include title-h2;
                }

                .line {
                    @include line;
                }
            
                .menu__dessert__list{
                    @include space;
                    .menu__dessert__list__card{
                        @include card;
                        .menu__dessert__list__card__text{
                            @include cardText;
                        }
                    }
                }
            }
                .indent{
                    text-align: center;
                    .command{
                        @include button;
                        width: 186px;
                        margin-bottom: 40px;                        
                    }
                } 
            }                
        }
    footer{    
        display: flex;
        flex-direction: column;
        padding: 22px 25px;
        background-color: $color-footer;
        color: $background;
        gap: 16px;

        h3{
        font-family:$font-logo-titre;
        font-size: 18px;
        font-weight: 400;
        
        }
    
        .footer__list {
        display: flex;
        flex-direction: column;
        gap:7px;
        
        .footer__list__icons a .fa-utensils{
            margin-right: 10px;
        }
        .footer__list__icons1 a .fa-handshake{
            rotate: 325deg;
            margin-right: 4px;
        }
        }
    }

    
}

@media screen and (min-width: 768px){
body{
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu {
            align-items: center;
            width: 80%;

            .menu__entree {
                .menu__entree__list {
                    width: 634px;
                    }
                }
            .menu__meal {
                .menu__meal__list {
                    width: 634px;
                    }
                }
            .menu__dessert{
                .menu__dessert__list{
                    width: 634px;
                    }
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row-reverse;
            gap: 40px;
            padding: 30px 0px;
            height: 114px;
            h3{
                margin: 8px 60px;
              }
            
              .footer__list{
                flex-direction: row;
                margin-top: 19px;
          
                .footer__list__icons1{
                  margin-right: 40px;
                }
          
                .footer__list__others{
                  margin-right: 15px;
                }
              }
        }
    }
}





    

    
