@import'variables';
@import'mixins';


* {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
body {
    margin: 0px;
    font-family: $font;

    header {
        display: flex;
        flex-direction: row;
        gap:42px;
        padding: 14px 89px 14px 17px;
    }

    main{
        .restaurants{
            height:275px;
            width: 100%;
        
            img{
                width: 100%;
                height: 275px;
                object-fit: cover;
            }
        }
        .menu {            
            border-radius: 35px 35px 0 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: -50px;
            padding-left: 17px;
            position: relative;
            background-color: $background;
            gap: 40px;

            .menu__title{
                display: flex;
                align-items: center;
                gap: 50px;
                padding-top: 25px;

                h1 {
                    @include title-h1
                }
            
                .menu__title__heart i {
                    cursor: pointer;
                    position: absolute;
                    top: 32px;
                    right: 35px;
                    font-size: 1.5rem;
                }
            }
            .menu__entree {
                
                h2 {
                    @include title-h2;
                }

                .line {
                    @include line;
                }
                .menu__entree__list{
                    @include space;
                    .menu__entree__list__card{
                        @include card;
                        .menu__entree__list__card__text{
                            @include cardText
                        }
                    }
                }
            }
                .menu__meal__list{
                    @include space;
                .menu__meal__list__card{
                    @include card;
                    .menu__meal__list__card__text{
                        @include cardText;
                    }
                    }
                }

                .menu__dessert__list{
                    @include space;
                    .menu__dessert__list__card{
                    @include card;
                    .menu__dessert__list__card__text{
                        @include cardText;
                    }
                    }
                }
                .indent{
                    .command{
                        @include button
                        width
                    }
                } 
            }                
        }
    footer{    
        display: flex;
        flex-direction: column;
        padding: 22px 25px;
        background-color: $color-footer;
        color: $background;
        gap: 16px;

        h3{
        font-family:$font-logo-titre;
        font-size: 18px;
        font-weight: 400;
        
        }
    
        .footer__list {
        display: flex;
        flex-direction: column;
        gap:7px;
        
        .footer__list__icons a .fa-utensils{
            margin-right: 10px;
        }
        .footer__list__icons a .fa-handshake{
            rotate: 325deg;
            margin-right: 4px;
        }
        }
    }

    
}