* {
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

body {
  margin: 0px;
  font-family: "roboto", "sans-serif";
}
body header {
  display: flex;
  flex-direction: column;
}
body header .header__logo {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
body header .header__logo img {
  padding: 0px 19px 0px 16px;
  font-family: "Shrikhand", "sans-serif";
}
body header .header__search {
  display: flex;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
}
body header .header__search i {
  margin-left: 73px;
}
body header .header__search .place {
  border: none;
  background-color: unset;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto", "sans-serif";
}
body header .header__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 39px;
  padding-bottom: 57px;
}
body header .header__choice h1 {
  text-align: center;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 58px;
}
body header .header__choice p {
  text-align: center;
  padding-left: 6px;
  padding-right: 26px;
  font-size: 18px;
  font-weight: 300;
}
body header .header__choice button {
  border-radius: 25px;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: "roboto", "sans-serif";
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: #EAEAEA;
  border: none;
  font-weight: 500;
}
body main .container {
  height: 440px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}
body main .container .container__title {
  margin-right: 170px;
}
body main .container .container__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main .container .container__content span {
  display: flex;
  position: absolute;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 27px 0px 0px -10px;
  font-size: 14px;
}
body main .container .container__content .container__content__card__text {
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72px;
  width: 322px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
body main .container .container__content .container__content__card__text i {
  color: #7E7E7E;
  height: 17px;
  width: 19px;
  font-size: 20px;
}
body main .container .container__content .container__content__card__text .left {
  margin-left: 15px;
}
body main .container .container__content .container__content__card__text .purple {
  color: #9356DC;
}
body main .container .container__content .container__content__card__text p {
  font-size: 16px;
  font-weight: 500;
}
body main .restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 50px 18px 66px 17px;
}
body main .restaurants .restaurants__cards__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
body main .restaurants .restaurants__cards__content .restaurants__cards__content__new {
  position: absolute;
  top: 11px;
  right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  border-radius: 2px;
}
body main .restaurants .restaurants__cards__content img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body main .restaurants .restaurants__cards__content__card1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
body main .restaurants .restaurants__cards__content__card1 .restaurants__cards__content__card1__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background-color: #353535;
  color: #F6F6F6;
  gap: 16px;
}
body footer h3 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 18px;
  font-weight: 400;
}
body footer .footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
body footer .footer__list .footer__list__icons a .fa-utensils {
  margin-right: 10px;
}
body footer .footer__list .footer__list__icons1 a .fa-handshake {
  rotate: 325deg;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  main .container .container__title {
    margin-left: -390px;
  }
  main .container .container__content .container__content__card span {
    margin-left: -8px;
  }
  main .container .container__content .container__content__card .container__content__card__text {
    width: 586px;
  }
  main .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  body header .header__logo {
    box-shadow: none;
    z-index: none;
    background-color: #99e2d0;
  }
  body main .container {
    height: 205px;
  }
  body main .container .container__content {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  body main .container .container__content .container__content__card .container__content__card__text {
    width: 295px;
  }
  body main .restaurants {
    gap: 28px;
  }
  body main .restaurants .restaurants__title {
    padding-left: 180px;
  }
  body main .restaurants__cards {
    padding: 0px 180px 0px 180px;
  }
  body footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 30px 0px;
    height: 114px;
  }
  body footer h3 {
    margin: 8px 60px;
  }
  body footer .footer__list {
    flex-direction: row;
    margin-top: 19px;
  }
  body footer .footer__list .footer__list__icons1 {
    margin-right: 40px;
  }
  body footer .footer__list .footer__list__others {
    margin-right: 15px;
  }
}/*# sourceMappingURL=style.css.map */